<!DOCTYPE html>
<html lang="en" ng-app="angular-work">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Angular work</title>
  </head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>Hi from bootstrap</h1>
                <div ng-controller="myCtrl as con">
                    <div class="text-center">
                        <h1>This is {{3>2}}ly a good Start and i loved it.</h1>
                        <br>
                        <h2>{{con.hello}}</h2>
                        <input type="text" ng-model="con.hello"> </div>
                    <h2>Now will Display Some Users:-</h2>
                    <ul>
                        <li ng-repeat="usr in con.users">{{usr}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>

</html>